<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Find by ID User</h1>
<br>

<div th:if="${userDTO != null}">
    <h3>User Details</h3>
    <p><strong>ID:</strong> <span th:text="${userDTO.id}"></span></p>
    <p><strong>Name:</strong> <span th:text="${userDTO.name}"></span></p>
    <p><strong>Age:</strong> <span th:text="${userDTO.age}"></span></p>
    <p><strong>Roles:</strong>
    <ul>
        <li th:each="role : ${userDTO.roles}" th:text="${role.role}">Role</li>
    </ul>
    </p>
</div>

<div th:if="${userDTO == null}">
    <p>No user found with the given ID.</p>
</div>


<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>