<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Update User</h1>
<br>
<form th:action="@{/admin/update/{id}(id=${user.id})}" th:method="put" th:object="${user}">
    <input type="hidden" name="_method" value="PUT"/>


    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:field="${user.name}" required/>
    <br/><br/>

    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age" th:field="${user.age}" required/>
    <br/><br/>

    <label for="role">Роль:</label>
    <input type="text" id="role" name="roles" th:field="${user.roles}" required/>

    <button type="submit">Update</button>
</form>

<form th:action="@{/logout}" method="put">
    <button type="submit">Logout</button>
</form>

</body>
</html>
