<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Find all User</h1>
<br>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Role</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userDTO}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.role}"></td>

    </tr>
    </tbody>
</table>
<form th:action = "@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>