<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>

<br><br>
<h1>Admin, welcome spring boot security page!</h1>
<br>
<form th:action="@{/admin/add}" method="post" >
    <button type="submit">Add User</button>
</form>
<br><br>
<form th:action = "@{/admin/delet/id}" method="get" >
    <button type="submit">Delete User</button>
</form>
<br><br>
<form th:action = "@{/admin/read/id}" method="get" >
    <button type="submit">Find by id</button>
</form>
<br><br>
<form th:action = "@{/admin/read}" method="get" >
    <button type="submit">Find all user</button>
</form>
<br><br>
<form th:action = "@{/admin/id}" method="post" >
    <button type="submit">Update user</button>
</form>
<br><br>

<form th:action = "@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>